﻿@{
    Layout = null;
    var nota = (List<Nota>)Model;
}

@foreach (var item in nota)
{
    <div class="container-fluid">

        <ul class="list-group">
            <li class="list-group-item">
                <br />
                <span>
                    <a href="/Nota/Detalle?Id=@item.Id"><strong>@item.Titulo</strong></a>
                    <br />
                    <span>
                        <strong>Cuerpo: </strong>
                        @if (item.Contenido.Length > 50)
                        {
                            <parcial>@item.Contenido.Substring(0, 50) ...</parcial> }
                        else
                        {
                            <parcial>@item.Contenido</parcial>
                        }
                    </span>
                </span>

                <br />
                <div align="right">
                    <a href="/Notaid=@item.Id" style="margin-left:20px;" class="btn btn-success">Compartir</a>
                    <a href="/Nota/Eliminar?id=@item.Id" style="margin-left:20px;" class="btn btn-success">Eliminar</a>
                    <a style="margin-right:20px;" class="btn btn-primary float-lg-right" href="#" data-toggle="modal" data-target="#edit" onclick="selCuenta('@item.Id','@item.Titulo','@item.Contenido')">Editar</a>
                </div>
            </li>
        </ul>
        <br />
    </div>
}
<!-- Modal -->
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Nota</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="editNotita">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="Editando()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function selCuenta(id, titulo, contenido) {
        $('#mtxtId').val(id);
        $('#mtxTitulo').val(titulo);
        $('#mtxContedido').val(contenido);
    };

    $.ajax({
        url: '/Nota/Edit',
        type: 'get'
    }).done(function (html) {
        $('#editNotita').html(html);
    })

    function Editando() {
        $('#editNota').submit();
    }

    function editar(event) {
        event.preventDefault();
        var dataString = new FormData($('#edit form')[0]);
        $.ajax({
            url: "/Nota/Edit",
            type: "post",
            processData: false,  // Important!
            contentType: false,
            cache: false,
            data: dataString
        }).done(function (html) {
            location.reload();
        }).fail(function (html) {
            $('#editNotita').html(html.responseText);
        });
    }
</script>

