﻿
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div class="row">
    <form action="/Usuario/Create" method="post">

        <span>@Html.ValidationMessage("Login")</span>


        <div>
            <label>Nombre de Usuario</label>
            <input class="form-control" type="text" name="NombreUsuario" />
        </div>

        <div>
            <label>Contraseña de Usuario</label>
            <input class="form-control" type="password" name="Password" />
        </div>

        <div>
            <label>Confirmar Contraseña</label>
            <input class="form-control" type="password" name="passwordpok" />
        </div>

        <div>
            <button class="btn btn-primary my-3">Registrarse</button>
        </div>
    </form>

</div>
